* {
    margin: 0;
    padding: 0; 
}

html,body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

#box1:hover {
    background-color: orange;
}

#box2:hover {
    background-color: white;
}

#box3:hover {
    background-color:green;
}

#box4:hover {
    background-color: orange;
}